<%= form_with(scope: :search, url: search_path, method: :get, local: true) do |f| %>
    <div class="row">
      <%= f.label :recipe_name, "レシピ名" %>
    </div>
    <div class="row">
        <%= f.text_field :recipe_name %>
    </div>
    <div class="row">
      <%= f.label :ingredient, "材料名" %>
    </div>
    <div class="row">
        <%= f.text_field :ingredient %>
    </div>
    <div class="row">
        <p>所要時間</p>
        <%= f.select :time_required, Recipe.time_requireds_i18n.invert.to_a, { include_blank: "未選択" } %>
    </div>
    <div class="row">
        <p>料理の種類</p>
        <%= f.select :category, Recipe.categories_i18n.invert.to_a, { include_blank: "未選択" }%>
    </div>
    <div class="row">
      <%= submit_tag '検索', class: "btn btn-info" %>
    </div>
<% end %>