<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "ふぇるれぴ", home_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navbarEexample1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li>ようこそ<%= current_user.username %>さん!!</li>
          <li><%= link_to "レシピ詳細検索", search_form_path, method: :get %></li>
          <li><%= link_to "レシピを書く", new_recipe_path %></li>
          <li><%= link_to "マイページ", users_path, method: :get %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "レシピ詳細検索", search_form_path, method: :get %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
