<!DOCTYPE html>
<html>
  <head>
    <title>Ferrepi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="glyphicon glyphicon-log-out" aria-hidden="true">ログアウト</i>
      <% end %>
    <% else %>
      <%= link_to new_user_registration_path do %>
        <i class="glyphicon glyphicon-new-window" aria-hidden="true">新規登録</i>
      <% end %>
      <%= link_to  new_user_session_path do%>
        <i class="glyphicon glyphicon-log-in" aria-hidden="true">ログイン</i>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
